*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Roboto",Helvetica,Arial,sans-serif;
}
.app-kaspi-header{
    box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.2);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
